--- 
plugin: gcp_compute 
projects: 
  - {{ project_ID }}
hostnames: 
  - name 
compose: 
# Set an inventory parameter to use the Public IP address to connect to the host 
# For Private ip use "networkInterfaces[0].networkIP" 
  ansible_host: networkInterfaces[0].accessConfigs[0].natIP 
groups: 
  devops_srv: "'devops' in name" 
  build_srv: "'build' in name"
  prod_srv: "'prod' in name"
filters: [] 
auth_kind: serviceaccount 
service_account_file: {{ service_account_key }}